html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

#map-canvas {
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#form-signs {
    top: 8%;
    left: 2%;
    position: absolute;
    z-index: 2;
    display: none;
    width: 35%;
    height: 60%;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow-y: auto;
}
#form-signs :last-child {
    padding-bottom: 10px;
}

.extremum-slide {
    display: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .btn {
    margin-top: 10px;
}

.navigation{
    position: absolute;
    background: #337ab7;
    background: linear-gradient(to top, #337ab7, #6495ED);
    width: 100%;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
}
.navigation .navbar-nav > li > a {
    color: #ffffff;
}

.navigation .navbar-nav > li > a:hover,
.navigation .navbar-nav > li > a:focus {
    color: #ffffff;
    background: linear-gradient(to top, #2C699D, #6495ED);
}

.block{
    margin-top: 10px;
}