html, body {
    height: 100%;
    margin: 0;
    padding: 0
}
#map-canvas
{
    height: 100%;
    position: relative;
    z-index: 1;
}
#form-signs
{
    top: 5%;
    left: 5%;
    position: absolute;
    z-index :2;
    display: none;
    width: 40%;
}

.extremum-slide {
    display: none;
}